Backend/gis_data/
Backend/market_data/
Backend/output/
Frontend/my-app/node_modules/
.DS_Store
__pycache__/
*.py[cod]
Backend/env/
.env
croprec.zip
geodata.py
market_flask_8.14.40_PM.py
market_lat_long.csv
requirements.txt
gis_data
market_data
croprec
output